.centrado{
    margin:auto;
    text-align
    : center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Altura del footer */
    height: 60px;
    background-color: #f5f5f5;
}

@media (max‐width: 576px) {
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        /* Altura del footer */
        height: 60px;
        background‐color: #f5f5f5;
    }
}

.nav-link-end{
    color: darkgrey;
}